[security]
secret_key={{ vault_django_secret_key }}
allowed_hosts={{ ", ".join(public_hostnames) }},localhost

[mail]
api_key={{ vault_mailgun_api_key }}

[external_file_storage]
access={{ vault_s3_access }}
secret={{ vault_s3_secret }}
bucket=moine
endpoint_url=https://cellar-c2.services.clever-cloud.com

[bugs]
rollbar_access_token={{ vault_rollbar_access_token }}

[staticfiles]
static_root={{ backend_static_path }}

[database]
user={{ project_slug }}
name={{ project_slug }}
password = {{ database_password }}

[mail]
api_key = {{ vault_mail_api_key }}
