- name: Remove default nginx config
  file:
    state: absent
    dest: /etc/nginx/sites-enabled/default
  notify:
    - reload nginx

- name: Copy nginx config
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/sites-enabled/{{ project_slug }}
    owner: root
    group: root
    mode: 0644
  notify:
    - reload nginx

- name: Update sources for node
  shell:
    cmd: curl -fsSL https://deb.nodesource.com/setup_17.x | sudo -E bash - && touch /{{ organization_slug }}/{{ project_slug}}/node_setup
    warn: no
    creates: /{{ organization_slug }}/{{ project_slug}}/node_setup

- name: install node
  apt:
    pkg:
      - nodejs
    state: present

- name: install yarn globally
  community.general.npm:
    name: yarn
    global: yes


- name: get latest frontend code
  git:
    repo: '{{ frontend_repo }}'
    dest: "{{ frontend_path }}"
    key_file: "{{ identity_file_path }}"
    accept_hostkey: true
    force: true
    version: main
  become_user: "{{ main_user }}"
  register: clonecode

- name: add environment variable file
  template:
    src: frontend.env
    dest: "{{ frontend_path }}/.env"

- name: Install project dependencies
  command:
    cmd: "yarn install"
    chdir: "{{ frontend_path }}"
  when: clonecode.changed

- name: Build frontend code
  command:
    cmd: "yarn build"
    chdir: "{{ frontend_path }}"
  when: clonecode.changed

- name: Copy supervisord config
  template:
    src: frontend-supervisor.conf.j2
    dest: "{{ supervisor_conf }}/{{ project_slug }}_frontend.conf"
    owner: root
    group: root
    mode: 0644

- name: Install {{ project_slug }} supervisor
  supervisorctl:
    name: "{{ project_slug }}-frontend"
    state: present

- name: Restart {{ project_slug }} supervisor
  supervisorctl:
    name: "{{ project_slug }}-frontend"
    state: restarted
  # when: clonecode.changed
