backend_application_port: 8000  # must be unique for each project on the same server
frontend_application_port: 3000  # must be unique for each project on the same server
environment_suffix: "_prod"
project_slug: "{{ base_project_slug }}{{ environment_suffix }}"

main_hostname: "{{ project_slug }}.{{ organization_slug }}.fr"
public_hostnames:
  - "{{ main_hostname }}"
  - app.{{ project_slug }}.com
# hostnames mentioned here are redirected to the main hostname
redirect_hostnames: []
all_hostnames: "{{ public_hostnames + redirect_hostnames }}"
# the certificate that you see in /etc/nginx/sites-enabled/{{ project_slug }},
# in the line like /etc/letsencrypt/live/[certificate_hostname]/fullchain.pem
certificate_hostname: "{{ main_hostname }}"
# only change this variable after having:
# - run the playbook at least once with the value `false`
# - run `certbot` manually on the server
https_enabled: false
project_dir: "{{project_base_dir}}{{ environment_suffix }}"
backend_static_path: "{{ project_dir }}/backend_static"

frontend_branch: main
backend_branch: main

environment_name: production
